# Copyright (c) 2026 The Builder Course and Rajat. All rights reserved.
# This file lists names only. Put real values in .env.local.
# Use the base Supabase project URL. Do not add /rest/v1.

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
